.buttonPersonalizado{
    width: 10rem;
    height: 2rem;

    border: 0;
    background-color: var(--azul-200);
    color: var(--branco);
    font-weight: bold;
    cursor: pointer;
    transition: 0.7s;

    &:hover{
        color: var(--azul-500);
        background-color: var(--branco);
        border: 1px solid var(--azul-500)
    }
}